/*Global Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
   transition: .5s all;
}



.container{
    max-width: 1640px;
    margin: 0 auto;
}

:root{
    --bg-color:#000000;
    --main-color:#FFFFFF;
    --text-color:#707070;
    --hover-color:#306EF7;
}
/*
html{
    font-size: 62.5%;
    --header1: calc(3rem + 1vw);
    --header2: calc(2.8rem + 1vw);
    --header3: calc(2.5rem + 1vw);
    --header4: calc(2rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big-text: calc(6rem + 1vw);
}

h1{
    font-size: var(--header1);
    color: var(--main-color);
}

li,button,label,input,a,p{
    font-size: var(--text);
}

h2{
    font-size: var(--header2);
}
h3{
    font-size: var(--header3);
}

h4,h5{
    font-size: var(--header4);
}
*/
a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    color: var(--hover-color);
}

a.active{
    color: var(--hover-color);
}

ul{
    list-style: none;
}


/*--------------------------------------------Navbar Section-------------------------------------------------*/
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    left: 0;
    z-index: 1000;
    background:var(--bg-color) ;

}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: var(--main-color);
}

.header-list{
    display: flex;
    column-gap: 2rem;
    font-size: 1.5rem;
}

.header-title{
    font-weight: 800;
    font-size: 2rem;

}

.header-link{
    font-weight: 500;
    font-size: 1.5rem;
}

.header-btns{
    display: flex;
    column-gap: 2rem;
}

.header-button{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-color);
    border: 1px solid var(--bg-color);
    padding: 12px 22px;
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
}

.header-button:hover{
    color: var(--main-color);
    background: var(--hover-color);
    border: 1 px solid var(--hover-color);
}
/*--------------------------------------------Pricing Section-------------------------------------------------*/

.subscribers{
    padding-top: 8rem;
    display: flex;
    align-items: center;
    text-align: center;
}

 h1.title{
    font-weight: 600;
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 8rem;
    margin-top: 7rem
 }

 .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 3.5rem;
 }

 .card{
    height: 989px;
    width: 50%;
    background-color: #131313;
    border: 1px solid #707070;
    border-radius: 15px;
    padding: 2rem;
    text-align: left;
    cursor: pointer;
 }

 

 .card-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--main-color);
    
 }

 .card-title-note {
    font-size:1rem ;
    font-weight: 400;
    color: var(--main-color);
    
 }
 .card-price{
    font-size: 3rem;
    margin-bottom: 3.5rem;
 }

 .card-price>#card-1{
    margin-bottom: 4.5rem;
 }
 .card-price{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--main-color);
   
 }

 .card-price-note{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
 }
 

    

 .card-subscribers{
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 2rem;
 }

 .card p{
    margin-bottom: 2rem;
 }



 .card-email{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 4rem;
 }

 .card p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
 }

 .card-plan-title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
 }

 .card ul{
    text-align: left;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--main-color);
    margin-bottom: 3.8rem;
 }

 #card-1 h2{ 
    margin-bottom: 8.6rem;
 }

 .card ul li:before {
    content: '✓';
  }

  .card-btn{ /*Are not at the center of the box*/
    background: var(--bg-color);
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    border-radius: 15px;
    border: 1px solid var(--hover-color);
    cursor: pointer;
  }

   .card-btn:hover{
    background: var(--main-color);
    color: var(--hover-color);
   }

   .card:hover{
    background: #306EF7;
   }

   /*--------------------------------------------Subscribe Section-------------------------------------------------*/

   .getstarted{
    padding-top: 12rem;
    display: flex;
    align-items: center;
    text-align: center;
   }

   .getstarted-title{
    color: var(--main-color);
    font-size: 4rem;
    font-weight: 700;
    margin-top: 2rem;
   }

   .getstarted-note{
    color: var(--main-color);
    font-size:3rem ;
    font-weight: 400;
   }

   .getstarted-btn{
    background: var(--hover-color);
    color: var(--main-color);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    border-radius: 15px;
    border: 1px solid var(--hover-color);
    cursor: pointer;
    padding-top: 2rem;
   }

   .getstarted-btn:hover{
    color: var(--hover-color);
    background: var(--main-color);
   }

   .subscribers-box{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    column-gap: 0.5rem;
    padding-bottom: 8rem;
   }
   
   .subscribers-creators{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 400;
   }

   .subscribers-creators-bold{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 700;
   }

/*--------------------------------------------Subscribe Section-------------------------------------------------*/

footer{
    color: var(--main-color);
    background: var(--bg-color);
    text-align: right;
}

.footer-wrapper{
    width: 100%;
}

.footer-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10vh;
    width: 90%;
    padding: 2rem;
    margin: auto;
}

footer-title{
    display: flex;
    align-items: center;
    column-gap: 2rem; /*Is not working*/
    flex: 1 1 40rem;
    
}

.email{
    display: flex;
    align-items: flex-start;
    font-weight: 400;
    font-size: 1.3rem;
}

footer ul{ /*I can't push it to the right side*/
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-around;

    
   
}

footer li{
    font-size: 1.5rem;
    font-weight: 500;
}